https://localhost {
    tls internal

    header / {
        Strict-Transport-Security "max-age=63072000"
    }

    handle_path /api/* {
        reverse_proxy backend:3000
    }

    handle {
        reverse_proxy dashboard:80
    }
}
