{
    debug
}

{$DOMAIN} {
    header / {
        -Strict-Transport-Security
    }

    reverse_proxy backend:3000
}

dashboard.{$DOMAIN} {
    handle_path /api/* {
        reverse_proxy backend:3000
    }

    handle /socket.io/* {
        reverse_proxy backend:3000
    }

    handle {
        reverse_proxy dashboard:80
    }
}
